@CHARSET "UTF-8";
body {
	background: #ffffff;
	color: #666600;
	margin: 0;
	overflow-y: hidden;
	overflow: hidden;
	
}
#site-box{
	
}
#header{
	font-size: 14pt;
	font-weight: bold
}
#content{
	background: #FFEEEE;
	color: #990000;
	margin: 0 0 0; 
	padding: 0px 0px 0px 0px;
}
#footer{
	text-align: right;
}

#sortable-div {
    width: 50%;
}

.kage {
 	text-shadow: 4px 0px 5px rgba(0, 0, 0, 0.3) 
 }

.effect1 {
    box-shadow: 3px 3px 10px 4px rgba(0, 0, 0, 0.3);
}
.effect2 {
    box-shadow: 0 -2px 10px 4px rgba(0, 0, 0, 0.3);
}
.effect3 {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
}
.effect3-1 {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transform: rotate(-40deg);
}

.TAB input{
	    display: none;
	}
	.TAB label{
	    display: block;
	    float: left;
	    cursor: pointer;
	    width: 89px;
	    margin: 0;
	    padding: 12px 3px;
	    border-right: 1px solid #abb2b7;
	    background: #bdc3c7;
	    color: #555e64;
	    font-size: 14px;
	    text-align: center;
	    line-height: 1;
	    transition: .2s;	    
	}
	.TAB label:hover{
		background: #91D1F2;
	}
	.TAB input[type="radio"]:checked + label {
	    background-color: #4FAAE2;
	    padding: 12px 7px 12px 7px;
	    box-shadow: 0px 4px 2px 0px rgba(10, 200, 150, 0.3);
	    color: #fff;
	}


.textAlpha {
    opacity: 0.9;
}
