@CHARSET "UTF-8";
body {
	background: #ffffff;
	color: #666600;
	margin: 0;
	
}
#site-box{
	
}
#header{
	font-size: 14pt;
	font-weight: bold
}
#content{
	background: #FFEEEE;
	color: #990000;
	margin: 0 0 0; 
	padding: 0px 0px 0px 0px;
}
#footer{
	text-align: right;
}